.page-header {
  /* height: 80px; */
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #ececec;
}

.page-header__flex {
  display: flex;
  align-items: center;
  margin-top: 0px;

  height: 80px;
}